.btn
    padding: 16px
    border-radius: 3px
    color: $color-light
    margin: 2px;
    
    +modifier('default')
        background: $bg-color-primary
        border: 1px solid $bg-color-primary-light

        &:hover
            background: $color-light
            color: $bg-color-primary
        